.navbar{
    background: #0000FF;
    height: 127px;
    position: fixed;
    top: 0;
    right: 188px;
    left: 160px;
    z-index: 1;
    border-radius: 14px;
}
.box1{
    position: absolute;
    width: 795px;
    height: 443px;
    top: 171px;
    background: #d4a89b;
    border-radius: 14px;
    left: 160px;
}
    .box2{
    position: absolute;
    width: 795px;
    height: 443px;
    top: 171px;
    right: 188px;
    background: #d4a89b;
    border-radius: 14px;
}

.hero{
    padding: 20px;
    color: white;
}
.myauv{
    padding: 20px;
    color: white;
    font-size: 20px;
}
.hero1{
    padding: 20px;
    color: white;
}
.myauv1{
    padding: 20px;
    color: white;
    font-size: 20px;
}
.box{
    position: absolute;
    width: 1677px;
    height: 127px;
    background: #FF0000;
    left: 160px;
}
.box3{
    top: 659px;
}
.box4{
    top: 827px;
}
.box5{
    top: 1001px;
}
.box6{
    top: 1190px;
}
.box7{
    top: 1364px;
}